* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#company-this {
    margin-left: 200px;
}

#policy-this {
    margin-left: 50px;
}

#contacts-this {
    margin-left: 40px;
}

#footer {
    background-color: #3760CA;
}

#footer-app-title {
    font-weight: bolder;
    color: white;
}

#footer-app-subtitle {
    color: white;
}

#footer-app-desc {
    color: white;
}

#company, #policy, #contacts {
    color: white;
    font-weight: 600;
}

#ig, #yt, #fb {
    height: 25px;
    color: white;
}